# FICHIERS ET DOSSIERS NON SUIVIS
# -------------------------------

# macOS
.DS_Store
**/.DS_Store
Thumbs.db

# Xcode
xcuserdata/
*.xcuserstate
DerivedData/
*.xcworkspace/xcuserdata/

# Build (au cas où...)
build/
*.o
*.a

# Doxygen
Doxyfile*
html/
latex/

# Projet
Chess/*histo*.*
_doc_annexe/
_historique/

